/* Default styles */
.header-container {
  margin-left: 80px;
}

/* Default styles */
.layout-container {
  padding-left: 80px;
}

/* Media query for screens larger than md */
@media (min-width: 768px) {
  .layout-container {
    padding-left: 268px;
  }
  .header-container {
    margin-left: 268px;
    height: 108px;

    display: flex;
  }
}

.ant-tabs-nav::before {
  position: absolute !important;
  right: 0 !important;
  left: 0 !important;
  border-bottom: 2px solid var(--grey-700) !important;
  content: "" !important;
}
