@import url("https://fonts.googleapis.com/css2?family=General+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-general-sans: "General Sans";
  --font-inter: Inter;
  --font-montserrat: Montserrat;
  --link-text: Satoshi;

  /* font sizes */
  --bold-20-size: 20px;
  --font-size-10xs-2: 2.2px;
  --font-size-10xs-6: 2.6px;
  --font-size-10xs-7: 2.7px;
  --font-size-126xl: 145px;
  --font-size-14xl-2: 33.2px;
  --font-size-15xl: 34px;
  --font-size-22xl: 41px;
  --font-size-29xl: 48px;
  --font-size-2xs-2: 10.2px;
  --font-size-2xs-5: 10.5px;
  --font-size-3xl-2: 22.2px;
  --font-size-3xl: 22px;
  --font-size-3xs-3: 9.3px;
  --font-size-3xs: 10px;
  --font-size-59xl: 78px;
  --font-size-5xs-5: 7.5px;
  --font-size-5xs-9: 7.9px;
  --font-size-6xs-5: 6.5px;
  --font-size-6xs: 7px;
  --font-size-7xs-1: 5.1px;
  --font-size-7xs-3: 5.3px;
  --font-size-7xs-6: 5.6px;
  --font-size-7xs-7: 5.7px;
  --font-size-8xs-4: 4.4px;
  --font-size-8xs-7: 4.7px;
  --font-size-98xl-9: 117.9px;
  --font-size-9xl: 28px;
  --font-size-9xs-1: 3.1px;
  --font-size-9xs-5: 3.5px;
  --font-size-9xs: 4px;
  --font-size-base-9: 15.9px;
  --font-size-lg-4: 18.4px;
  --font-size-mini: 15px;
  --font-size-sm-2: 13.2px;
  --font-size-smi-3: 12.3px;
  --font-size-xs-2: 11.2px;
  --font-size-xs: 12px;
  --header-2-size: 40px;
  --header-3-size: 24px;
  --header-4-size: 32px;
  --heading-4-size: 36px;
  --link-text-size: 16px;
  --medium-18-size: 18px;
  --smaller-text-size: 14px;

  /* Colors */
  --color-black: #000;
  --color-blueviolet: #9747ff;
  --color-crimson-100: #ed3636;
  --color-crimson-200: rgba(240, 72, 72, 0.15);
  --color-darkgray-100: #b0b0b0;
  --color-darkgray: #a3a3a3;
  --color-darkslateblue-100: #204576;
  --color-darkslategray-100: #484848;
  --color-darkslategray-200: #424242;
  --color-darkslategray-300: #363636;
  --color-dimgray-100: #5e5e5e;
  --color-gainsboro-100: #dedede;
  --color-ghostwhite: #f0f1f6;
  --color-goldenrod: #ffc54e;
  --color-gray-100: rgba(255, 255, 255, 0.15);
  --color-gray-200: rgba(255, 255, 255, 0.3);
  --color-gray-300: rgba(255, 255, 255, 0.2);
  --color-gray-400: #14181f;
  --color-indianred: #ac4f4f;
  --color-limegreen-100: #4dbc09;
  --color-limegreen-200: rgba(35, 172, 0, 0.15);
  --color-mediumblue: #3f3bfa;
  --color-midnightblue: #290f40;
  --color-orange-100: rgba(255, 183, 34, 0.15);
  --color-plum: rgba(220, 197, 255, 0.4);
  --color-red: #e30000;
  --color-silver-100: #b7b7b7;
  --color-thistle: #e5d5f2;
  --color-whitesmoke-100: #f5f4f6;
  --color-whitesmoke-200: #f9f9f9;
  --color: #e6ebfa;
  --gray-dark-2: #5f6165;
  --gray-dark-4: #7c7c8d;
  --gray-dark: #1f2128;
  --gray-white: #fff;
  --grey-100: #f7f7f7;
  --grey-1100: #2b2b2b;
  --grey-200: #f2f2f2;
  --grey-300: #ececec;
  --grey-400: #e6e6e6;
  --grey-500: #dfdfdf;
  --grey-600: #d9d9d9;
  --grey-700: #5b5e69;
  --grey-700: #b5b5b5;
  --grey-800: #919191;
  --grey-900: #6d6d6d;
  --grey-9001: #363943;
  --navy-blue-100: #ced6e1;
  --navy-blue-300: #6b83a4;
  --navy-blue-400: #395a85;
  --navy-blue-50: #e7ebf0;
  --navy-blue-600: #06254d;
  --navy-blue-900: #01050a;
  --primary-navy-blue: #083167;
  --secondary-gold: #ffb722;
  --success: #23ac00;
  --warning: #f04848;

  /* Gaps */
  --gap-10xs-2: 2.2px;
  --gap-10xs-4: 2.4px;
  --gap-10xs-6: 2.6px;
  --gap-10xs-9: 2.9px;
  --gap-10xs: 3px;
  --gap-11xl: 30px;
  --gap-11xs-3: 1.3px;
  --gap-11xs-4: 1.4px;
  --gap-11xs-5: 1.5px;
  --gap-11xs-8: 1.8px;
  --gap-11xs-9: 1.9px;
  --gap-11xs: 2px;
  --gap-12xl: 31px;
  --gap-12xs-7: 0.7px;
  --gap-12xs-8: 0.8px;
  --gap-12xs-9: 0.9px;
  --gap-143xl-7: 162.7px;
  --gap-146xl-4: 165.4px;
  --gap-14xl-8: 33.8px;
  --gap-14xl: 33px;
  --gap-18xl-7: 37.7px;
  --gap-21xl: 40px;
  --gap-222xl: 241px;
  --gap-26xl: 45px;
  --gap-27xl: 46px;
  --gap-2xs-1: 10.1px;
  --gap-2xs-8: 10.8px;
  --gap-2xs: 11px;
  --gap-3xs-3: 9.3px;
  --gap-3xs: 10px;
  --gap-47xl-5: 66.5px;
  --gap-484xl: 503px;
  --gap-4xl-4: 23.4px;
  --gap-4xl: 23px;
  --gap-4xs-8: 8.8px;
  --gap-4xs-9: 8.9px;
  --gap-507xl: 526px;
  --gap-55xl: 74px;
  --gap-5xl: 24px;
  --gap-5xs-2: 7.2px;
  --gap-5xs-5: 7.5px;
  --gap-5xs: 8px;
  --gap-6xl: 25px;
  --gap-6xs-1: 6.1px;
  --gap-6xs-6: 6.6px;
  --gap-6xs-8: 6.8px;
  --gap-6xs: 7px;
  --gap-7xs-1: 5.1px;
  --gap-7xs-3: 5.3px;
  --gap-7xs-5: 5.5px;
  --gap-7xs-6: 5.6px;
  --gap-7xs-9: 5.9px;
  --gap-7xs: 6px;
  --gap-8xs-2: 4.2px;
  --gap-8xs-4: 4.4px;
  --gap-8xs-7: 4.7px;
  --gap-8xs: 5px;
  --gap-96xl-4: 115.4px;
  --gap-9xs-1: 3.1px;
  --gap-9xs-3: 3.3px;
  --gap-9xs-5: 3.5px;
  --gap-9xs-7: 3.7px;
  --gap-9xs-8: 3.8px;
  --gap-9xs: 4px;
  --gap-base: 16px;
  --gap-lg: 18px;
  --gap-lgi-5: 19.5px;
  --gap-lgi-7: 19.7px;
  --gap-lgi-9: 19.9px;
  --gap-lgi: 19px;
  --gap-mid: 17px;
  --gap-mini: 15px;
  --gap-sm: 14px;
  --gap-smi: 13px;
  --gap-xl: 20px;
  --gap-xs-7: 11.7px;
  --gap-xs-8: 11.8px;
  --gap-xs: 12px;

  /* Paddings */
  --padding-109xl: 128px;
  --padding-10xl: 29px;
  --padding-10xs-2: 2.2px;
  --padding-10xs-3: 2.3px;
  --padding-10xs-4: 2.4px;
  --padding-10xs-6: 2.6px;
  --padding-10xs-9: 2.9px;
  --padding-10xs: 3px;
  --padding-111xl: 130px;
  --padding-11xl: 30px;
  --padding-11xs-3: 1.3px;
  --padding-11xs-7: 1.7px;
  --padding-11xs-8: 1.8px;
  --padding-11xs: 2px;
  --padding-12xl: 31px;
  --padding-12xs-4: 0.4px;
  --padding-12xs: 1px;
  --padding-13xl: 32px;
  --padding-14xl: 33px;
  --padding-15xl: 34px;
  --padding-17xl: 36px;
  --padding-18xl: 37px;
  --padding-19xl: 38px;
  --padding-21xl: 40px;
  --padding-23xl: 42px;
  --padding-25xl: 44px;
  --padding-28xl: 47px;
  --padding-2xl: 21px;
  --padding-2xs-3: 10.3px;
  --padding-2xs-7: 10.7px;
  --padding-39xl: 58px;
  --padding-3xl: 22px;
  --padding-3xs-3: 9.3px;
  --padding-3xs-6: 9.6px;
  --padding-3xs: 10px;
  --padding-43xl: 62px;
  --padding-46xl: 65px;
  --padding-4xl: 23px;
  --padding-4xs-3: 8.3px;
  --padding-4xs-4: 8.4px;
  --padding-4xs-6: 8.6px;
  --padding-4xs-7: 8.7px;
  --padding-4xs: 9px;
  --padding-5xl: 24px;
  --padding-5xs-2: 7.2px;
  --padding-5xs-5: 7.5px;
  --padding-5xs-7: 7.7px;
  --padding-5xs-9: 7.9px;
  --padding-5xs: 8px;
  --padding-62xl: 81px;
  --padding-6xl: 25px;
  --padding-6xs-1: 6.1px;
  --padding-6xs-4: 6.4px;
  --padding-6xs-5: 6.5px;
  --padding-6xs-6: 6.6px;
  --padding-6xs-8: 6.8px;
  --padding-6xs: 7px;
  --padding-7xl: 26px;
  --padding-7xs-3: 5.3px;
  --padding-7xs-5: 5.5px;
  --padding-7xs-6: 5.6px;
  --padding-7xs-7: 5.7px;
  --padding-7xs-9: 5.9px;
  --padding-7xs: 6px;
  --padding-81xl: 100px;
  --padding-86xl: 105px;
  --padding-8xl-1: 27.1px;
  --padding-8xl: 27px;
  --padding-8xs-2: 4.2px;
  --padding-8xs-4: 4.4px;
  --padding-8xs-6: 4.6px;
  --padding-8xs-7: 4.7px;
  --padding-8xs: 5px;
  --padding-9xl-5: 28.5px;
  --padding-9xl: 28px;
  --padding-9xs-1: 3.1px;
  --padding-9xs-3: 3.3px;
  --padding-9xs-5: 3.5px;
  --padding-9xs-6: 3.6px;
  --padding-9xs-7: 3.7px;
  --padding-9xs-9: 3.9px;
  --padding-9xs: 4px;
  --padding-base-8: 16.8px;
  --padding-base: 16px;
  --padding-lg-1: 18.1px;
  --padding-lg-4: 18.4px;
  --padding-lg: 18px;
  --padding-lgi: 19px;
  --padding-mid-8: 17.8px;
  --padding-mid: 17px;
  --padding-mini-3: 14.3px;
  --padding-mini-5: 14.5px;
  --padding-mini-9: 14.9px;
  --padding-mini: 15px;
  --padding-sm-6: 13.6px;
  --padding-sm-8: 13.8px;
  --padding-sm: 14px;
  --padding-smi-7: 12.7px;
  --padding-smi: 13px;
  --padding-xl-6: 20.6px;
  --padding-xl: 20px;
  --padding-xs-2: 11.2px;
  --padding-xs: 12px;

  /* border radiuses */
  --br-10xl: 29px;
  --br-10xs-2: 2.2px;
  --br-10xs-3: 2.3px;
  --br-10xs-5: 2.5px;
  --br-10xs-6: 2.6px;
  --br-10xs-8: 2.8px;
  --br-10xs: 3px;
  --br-11xs-1: 1.1px;
  --br-11xs-2: 1.2px;
  --br-11xs-3: 1.3px;
  --br-11xs-4: 1.4px;
  --br-11xs-6: 1.6px;
  --br-11xs-7: 1.7px;
  --br-11xs-8: 1.8px;
  --br-11xs-9: 1.9px;
  --br-11xs: 2px;
  --br-12xs-5: 0.5px;
  --br-12xs-6: 0.6px;
  --br-12xs-9: 0.9px;
  --br-27xl-7: 46.7px;
  --br-2xl-9: 21.9px;
  --br-2xs: 11px;
  --br-3xs: 10px;
  --br-4xs: 9px;
  --br-5xs-1: 7.1px;
  --br-5xs-7: 7.7px;
  --br-5xs-9: 7.9px;
  --br-5xs: 8px;
  --br-68xl-7: 87.7px;
  --br-6xs-4: 6.4px;
  --br-6xs: 7px;
  --br-7xs-4: 5.4px;
  --br-7xs: 6px;
  --br-81xl: 100px;
  --br-8xs-2: 4.2px;
  --br-8xs-3: 4.3px;
  --br-8xs: 5px;
  --br-9xs-3: 3.3px;
  --br-9xs-6: 3.6px;
  --br-9xs-7: 3.7px;
  --br-9xs: 4px;
  --br-lg-2: 18.2px;
  --br-mid-6: 17.6px;
  --br-mini: 15px;
  --br-smi: 13px;
  --br-xl: 20px;
}
